body {
/*
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
	
	overflow-y: scroll;
	font-family:Verdana;
	margin:0px;
}

.body-wrapper
{
	position:absolute;
	width: 980px;
	border:solid 1px black;
}

.header
{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:10px;
	font-size:60px;
	border-bottom:1px solid grey;
	
}

.hlink
{
	display:block;
	float:left;
	width:200px;
	text-align:center;
	padding:10px;
	text-decoration:none;
	color:black;
	transition:background-color .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.hlink:hover
{
	background-color:lightgreen;
}




